.features {
  grid-column: center-start/center-end;

  margin: 15rem 0;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 6rem;
  }

  &__heading {
    grid-column: 1 / -1;
    margin-bottom: 6rem;
  }
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 2.5rem;
  row-gap: 1.5rem;

  align-items: start;
  &__icon {
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
  }

  &__text {
    font-size: 1.7rem;
  }
}
