@use "base" as *;

.footer {
  background-color: $color-secondary;
  grid-column: full-start/full-end;
  padding: 8rem;
}

.nav {
  max-width: 97rem;
  margin: 0 auto;
  &__link:link,
  &__link:visited {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    font-family: $font-display;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    background-color: rgba($color: #fff, $alpha: 0.1);
    display: block;
    transition: all 0.2s;

    &:hover,
    &:focus-visible {
      background-color: rgba($color: #fff, $alpha: 0.05);
      transform: translateY(-3px);
    }

    &:focus-visible {
      outline: 2px solid rgba(#fff, 0.4);
      outline-offset: 2px;
    }
  }
}

.nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  justify-content: flex-start;
  gap: 2rem;
}

.copyright {
  font-size: 1.2rem;
  color: $color-grey-light-2;
  margin-top: 6rem;
  text-align: center;
}


