@use "base" as *;

.header {
  background-color: $color-grey-dark-1;
  grid-column: full-start/col-end 6;

  background-image: linear-gradient(
      rgba($color-secondary, 0.93),
      rgba($color-secondary, 0.93)
    ),
    url(../img/hero.jpeg);

  background-size: cover;
  background-position: center;
  padding: 4rem;
  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  row-gap: 1.5rem;
  justify-content: center;

  @media only screen and (max-width: $bp-medium) {
    grid-column: full-start/full-end;
  }

  &__logo {
    height: 3rem;
    justify-self: center;
  }

  &__seenon-text {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    column-gap: 1.5rem;
    font-size: 1.6rem;
    color: $color-grey-light-2;
    text-align: center;

    &::before,
    &::after {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor;
    }
  }

  &__seenon-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: clamp(1rem, 4vw, 6rem);

    img {
      max-height: clamp(1.4rem, 2.5vw, 3rem);
      max-width: clamp(6rem, 20vw, 14rem);
      width: auto;
      flex: 0 0 auto;
      filter: brightness(70%);
      transition: all 0.5s;

      &:hover {
        filter: brightness(100%);
      }
    }
  }

  &__btn {
    align-self: start;
    justify-self: start;
  }
}

