.realtors {
  background-color: $color-secondary;
  grid-column: col-start 7 / full-end;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  justify-content: center;
  padding: 3rem;

  @media only screen and (max-width: $bp-medium) {
    grid-column: full-start / full-end;
    padding: 4rem;
  }

  &__list {
    text-align: center;
    display: grid;
    grid-template-columns: min-content max-content;
    grid-template-rows: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 5vh;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: repeat(3, min-content max-content);
      grid-template-rows: min-content;
    }

    @media only screen and (max-width: $bp-small) {
      grid-template-columns: min-content max-content;
      grid-template-rows: repeat(3, 1fr);
    }
  }

  &__img {
    width: 7rem;
    border-radius: 50%;
    display: block;
  }

  &__details {
  }

  &__sold {
    text-transform: uppercase;
    color: $color-grey-light-2;
    margin-top: -3px;
  }
}
