@use "base" as *;

.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1 / -1;
  display: flex;
  justify-content: center;
  @include respond("large") {
    grid-row: 1/2;
    grid-column: full-start/full-end;
    justify-content: end;
    align-items: center;
  }
}

.nav-btn {
  border: none;
  border-radius: 0;
  height: 2px;
  width: 4.5rem;

  background-color: white;
  margin-top: space("2xl");

  &:focus-visible {
    outline: 2px solid rgba(#fff, 0.7);
    outline-offset: 6px;
  }

  &::before,
  &::after {
    background-color: white;
    height: 2px;
    width: 4.5rem;
    content: "";
    display: block;
  }

  &::after {
    transform: translateY(1.3rem);
  }

  &::before {
    transform: translateY(-1.5rem);
  }

  @include respond("large") {
    margin-top: 0;
    margin-right: space("xl");
    width: 4rem;

    &::after {
      transform: translateY(1rem);
    }

    &::before {
      transform: translateY(-1.2rem);
    }

    &::before,
    &::after {
      width: 4rem;
    }
  }
}




